body, .sign-in-heading, .jq-toast-single h2, .jq-toast-single, .brand-text, span, .separator, .card-header, .modal-title, .remove-margin-bottom, h5 {
	font-family: 'Quicksand', sans-serif !important;
}
#menu-list span {
	font-size: 14px;
}
.error {
	color: #ff5c75
}
.add-padding-top {
	padding-top: 9px;
}
.remove-margin-bottom {
	margin-bottom: 0px;
}
.fc-widget-content {
	color: #000;
	font-size: 12px;
}
.overline {
	text-decoration: line-through;
}
#customer_hints, #walkin_customer_hints,#customer_name_hints {
	position: absolute;
    top: 65px;
    z-index: 9;
    background: #fff;
    width: 90%;
 /*   height: 250px;*/
	/*overflow-y: auto;*/
}
.modal {
  overflow-y:auto;
}